<div class="container mt-3 mb-3">
    <div class="card">
        <p>Smart Deposit</p>
        <img src="https://koshex.com/assets/images/new-images/smart-deposit/smart_deposit_mobile_img.webp" alt="Icon 1">
    </div>
    <div class="card">
        <p>Tax Savings Investment</p>
        <img src="https://cdn-icons-png.flaticon.com/512/584/584057.png" alt="Icon 2">
    </div>
    <div class="card">
        <p>Business Plans</p>
        <img src="https://cdn-icons-png.freepik.com/512/6553/6553484.png" alt="Icon 3">
    </div>
    <div class="card">
        <p>Health</p>
        <img src="https://cdn-icons-png.flaticon.com/512/2209/2209673.png" alt="Icon 4">
    </div>
    <div class="card">
        <p>Home Insurance</p>
        <img src="https://www.bajajallianz.com/content/dam/bagic/home-insurance/My-Home-Insurance.png" alt="Icon 5">
    </div>
    <div class="card">
        <p>Investment Plans</p>
        <img src="https://www.fintoo.in/web/static/media/wp/InvestPlan/InvestHeader.png" alt="Icon 6">
    </div>
    <div class="card">
        <p>Guaranteed Return Plans</p>
        <img src="https://5.imimg.com/data5/PD/VJ/IV/SELLER-28646015/guarantee-warranty-nightguard-768x777-png-500x500.png" alt="Icon 7">
    </div>
    <div class="card">
        <p>Family Health Insurance</p>
        <img src="https://img.smartspends.com/static/images/etmoneyweb/insurance/health-banner.png" alt="Icon 8">
    </div>
    <!-- Repeat similar structure for next 8 cards -->
    <div class="card">
        <p>Term Insurance (Women)</p>
        <img src="https://www.yesbank.in/content/published/api/v1.1/assets/CONT732BAD040C634399A0DA49F705D80988/native/Programme-features-1.png?channelToken=580bc0ffbe3a47d690505e5f6d06e1c8" alt="Icon 1">
    </div>
    <div class="card">
        <p>Child Savings Plans</p>
        <img src="https://www.renewbuy.com/sites/default/files/2022-12/Child-Insurance.png" alt="Icon 2">
    </div>
    <div class="card">
        <p>Free of Cost Term Plan</p>
        <img src="https://www.hdfclife.com/content/dam/hdfclifeinsurancecompany/home/Key-Benefits-Vector-Illustration-Mobile.svg" alt="Icon 3">
    </div>
    <div class="card">
        <p>Retirement Plans</p>
        <img src="https://cdn.policyx.com/images/pension-plan-main-banner-images-3.webp" alt="Icon 4">
    </div>
    <div class="card">
        <p>2 Wheeler Insurance</p>
        <img src="https://www.tataaig.com/s3/benefits_of_two_wheeler_insurance_7d8bd05b85_0e519953b4.svg" alt="Icon 5">
    </div>
    <div class="card">
        <p>Travel Insurance</p>
        <img src="https://www.bajajallianz.com/content/dam/bagic/travel-insurance/travel-insurance-online.png" alt="Icon 6">
    </div>
    <div class="card">
        <p>Car Insurance</p>
        <img src="https://play-lh.googleusercontent.com/1AP1q3cMqrLdX-59TUUDS93SF4DopQxIYpXLGmst8tXVhIFDpUGHllFvQAzZymgtZw" alt="Icon 7">
    </div>
    <div class="card">
        <p>Health Insurance</p>
        <img src="https://cdn-icons-png.flaticon.com/512/9499/9499510.png" alt="Icon 8">
    </div>

</div>


