<div class="container">
  <div class="row">
    <div class="column">
      <img src="../../assets/policy-history.png" alt="Logo 1" class="logo" />
      <button class="button" (click)="redirectToPolicies()">
        See All Policies
      </button>
    </div>
    <div class="column">
      <img src="../../assets/newPolicy.jfif" alt="Logo 2" class="logo" />
      <button class="button" (click)="redirectToNewPolicy()">
        Launch New Policy
      </button>
    </div>
  </div>
</div>
