
<section id="health">
    <div class="container mb-2">
        <img src="../../assets/support.png" alt="Health Insurance" class="image">
        <h2>Do you need assistance?</h2>
        <p class="mt-4">Ensuring your well-being and that of your loved ones is crucial, especially when facing unexpected medical expenses. Health coverage acts as a financial safeguard, offering peace of mind and support during challenging times.</p>
        <p>With comprehensive health coverage, you gain access to a wide range of medical services and treatments. From routine check-ups to specialized care, your health plan provides support for various healthcare needs.</p>
        <ul>
            <li>Comprehensive coverage for medical expenses, including hospitalization, surgeries, diagnostic tests, and prescription medications.</li>
            <li>Financial protection against unexpected healthcare costs, minimizing the impact of medical emergencies on your finances.</li>
            <li>Peace of mind for you and your family, knowing that you're prepared for any health-related challenges that may arise. Write us at <span style="color: blue;">carepeervista.com</span> or call us at <span style="color: blue;">1800-2492-2494</span>.</li>
            <!-- <li>Write us at support@peervista.com <span>or can call us 1800 2494 2494</span></li> -->
        </ul>
    </div>
    <!-- <div class="container-o">
        <h2>Do you need assistance?</h2>
        <p>In times of uncertainty, our assistance program provides financial security and peace of mind. Access comprehensive medical services, including hospitalization, surgeries, and prescriptions, ensuring you're prepared for any health-related challenges.</p>
        <p>Reach out to us for reliable support, guiding you through life's uncertainties with confidence.</p>
    </div> -->
</section>