
<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/login">
      <img src="/src/assets/Designer.png" alt="Logo">
    </a>
  </div>
  <ul class="nav-list">
    <li class="nav-item"><a routerLink="/login" class="nav-link"><span>All Policies</span></a></li>
    <li class="nav-item"><a routerLink="/login" class="nav-link"><span>Renew Your Policy</span></a></li>
    <li class="nav-item"><a routerLink="/login" class="nav-link"><span>Claim</span></a></li>
    <li class="nav-item"><a routerLink="/login" class="nav-link"><span>Support</span></a></li>
    <li class="nav-item"></li><!-- Spacer -->
    <li class="nav-item"><a routerLink="/login" class="nav-link"><span>Login/Register</span></a></li>
  </ul>
</nav>


