/* .example-spacer {
    flex: 1 1 auto;
  }
  
  .p{
    background-color: red;
  } */

  .navbar {
    padding: 10px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left img {
    height: 30px; /* Adjust height as needed */
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .search-button {
    background-color: #ccc;
    border: none;
    color: #333;
    width: 150px;
    border-radius: 50px;
    padding: 10px 20px; /* Adjust padding to increase button size */
    cursor: pointer;
    font-weight: lighter; /* Set font weight to light */
    transition: background-color 0.3s; /* Add transition for smoother hover effect */
  }
  
  .search-button:hover {
    background-color: #bbb; /* Change background color on hover */
  }
  

  .nav-link span {
    position: relative;
  }
  
  .nav-link {
    color: darkblue; /* Default color for nav links */
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 400;
    font-weight: 12px; /* Set font weight to light */
    position: relative; /* Relative positioning for pseudo-element */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Position the underline just below the link */
    left: 0; /* Align the underline to the left */
    width: 100%; /* Make the underline span the entire width of the link */
    height: 2px; /* Set the height of the underline */
    background-color: darkblue; /* Color of the underline */
    transform: scaleX(0); /* Initially hide the underline */
    transition: transform 0.3s ease; /* Add transition for smoother animation */
  }
  
  .nav-link:hover::after {
    transform: scaleX(1); /* Expand the underline on hover */
  }
  

  /* footer code is starting from here */
  