<footer class="text-center text-white" style="background-color: #caced1;">
  <!-- Grid container -->
  <div class="container p-4">
      <!-- Section: Images -->
      <section class="d-flex justify-content-between align-items-center flex">
          <div class="bg-image-container">
              <img src="../../assets/sbi.jfif" class="bg-image" />
          </div>
          <div class="bg-image-container">
              <img src="../../assets/lic.jfif" class="bg-image" />
          </div>
          <div class="bg-image-container">
              <img src="../../assets/tata aia.jpg" class="bg-image" />
          </div>
          <div class="bg-image-container">
              <img src="../../assets/pnbmetlife.png" class="bg-image" />
          </div>
          <div class="bg-image-container">
              <img src="../../assets/bjajAllianz.jfif" class="bg-image" />
          </div>
          <div class="bg-image-container">
              <img src="../../assets/idbi.jfif" class="bg-image" />
          </div>
      </section>
      <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright,
      <a class="text-white" href="https://mdbootstrap.com/">peervista.com |</a>
      <p> To contribute to the project, please visit our GitHub repository <a href="https://github.com/shrikantshinde178/Peervista-Sprint-2" class="repo">here</a>.</p>
  </div>
  <!-- Copyright -->
</footer>
