.table th,
.table td {
  font-size: 14px;
  font-weight: 600;
}

.table th {
  color: #001c71ce;
}

.btn {
  color: aliceblue;
  background-color: #0000ff8c;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0000ff;
}

.percent {
  color: orangered;
  font-weight: 900;
}

.p-heading {
  font-weight: 700;
  font-size: 20px;
  color: rgba(39, 39, 88, 0.824);
}

.card {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.card-header {
  background-color: #e5e5ff;
  font-weight: 500;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.plans {
  background-color: #e5e5ff;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
}

.p-heading {
  margin-bottom: 0;
}

.span-heading {
  color: #01be53;
}

h3 {
  color: rgba(39, 39, 88, 0.824);
  font-weight: bold;
  margin-top: 0;
}

.choose-aim{
    font-size: 12px;
    padding-top: 20px;
}

.main-discount {
  padding: 30px;
  background-color: #e5e5ff;
  border-radius: 10px;
  margin-top: 30px;
}

.border {
  border-radius: 20px;
  border-style: dotted;
}
.swal-icon--error {
  color: #dc3545; /* Change the color of the error icon */
}

.swal-title {
  color: #dc3545; /* Change the color of the title text */
}

.swal-text {
  color: #dc3545; /* Change the color of the main text */
}

/* Override the success icon color */
.swal-icon--success {
  color: #007bff !important; /* Use a blue color code */
}

/* dashboard.component.css */
.btn-cart {
  position: relative; /* Make button a positioning context */
}

.cart-badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: rgb(255, 60, 0);
  color: white;
  border-radius: 50%;
  padding: 6px; /* Equal padding for horizontal and vertical */
  font-size: 12px;
  margin: 2px; /* Adjust margin as needed */
}
