<div class="container main-discount border">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>
          Find affortable plans with up to
          <span class="span-heading">25% discount*</span>
        </h3>
      </div>
      <div class="col-lg-4">
        <!-- Add a button or link to navigate to cart page -->
        <!-- <button class="btn btn-primary" routerLink="/user-cart">go to Cart</button> -->
        <!-- dashboard.component.html -->
        <button
          class="btn btn-cart btn-primary"
          (click)="fetchAllPolicesHistory()"
        >
          Buyed Policies
          <span class="cart-badge">{{ cartItemCount }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-fluid">
    <div class="row">
      <h3 class="choose-aim">Choose Insurance Coverage of Your Choice</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-fluid mt-2">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="tableheading">Policy Id</th>
            <th class="tableheading">Name of the Policy</th>
            <th class="tableheading">Coverage Amount</th>
            <th class="tableheading">Term Months</th>
            <th class="tableheading">Coverage Description</th>
            <th class="tableheading">Payment Frequency</th>
            <th class="tableheading">Premium Amount</th>
            <th class="tableheading">Credit Score</th>
            <th class="tableheading">Minimum Income PA</th>
            <th class="tableheading">Buy Now</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let policy of policies">
            <td>{{ policy.id }}</td>
            <td>{{ policy.policyName }}</td>
            <td>₹{{ policy.coverageAmount }}.00</td>
            <td>{{ policy.policyTermMonths }}</td>
            <td>{{ policy.policyCoverageDescription }}</td>
            <td>{{ policy.premiumPaymentFrequency }}</td>
            <td>₹{{ policy.premiumAmount }}.00</td>
            <td>{{ policy.creditScoreRequirement }}</td>
            <td>₹{{ policy.incomeRequirement }}</td>
            <!-- <td>
              <button class="btn" type="submit" (click)="Payment()">Buy</button>
            </td> -->
            <td>
              <button
                class="btn btn-primary"
                (click)="addToCart(policy, policy.id, policy.coverageAmount)"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- first policies listing tag -->

<div class="container">
  <div class="container-fluid mb-5">
    <div class="row plans">
      <div class="col-lg-6">
        <p class="p-heading">
          Ensure Family's Health with Health Insurance<br />
          Compare with & Save up to <span class="percent">88%*</span>
        </p>
      </div>
      <!-- <div class="col-lg-2">
      <button type="submit" class="btn btn-plans">View Plans</button>
    </div> -->
    </div>
  </div>
</div>
